<div class="no-cars-available" *ngIf="cars.length === 0">
    <p class="centered-text">No cars available</p>
  </div>
  <div *ngFor="let car of cars">
    <div class="car-card">
      <h3>{{ car.name }}</h3>   
      <img [src]="getSanitizedUrl(car.returnedImage)" alt="{{ car.name }}">
      <p>{{ car.description }}</p>
      <p *ngIf="car.price !== null"><strong>Price:</strong> {{ car.price }}</p>
      <p *ngIf="car.year !== null"><strong>Year:</strong> {{ car.year }}</p>
      <p *ngIf="car.transmission !== null && car.transmission !== ''"><strong>Transmission:</strong> {{ car.transmission }}</p>
      <p *ngIf="car.color !== null && car.color !== ''"><strong>Color:</strong> {{ car.color }}</p>
      <button nz-button nzType="primary" nzDanger (click)="deleteCar(car.id)">Delete</button>
    </div>
  </div>
  