<div class="no-cars-available" *ngIf="cars.length === 0">
    <p class="centered-text">No cars available</p>
  </div>
  <div *ngFor="let car of cars">
    <div class="car-card">
      <img [src]="getSanitizedUrl(car.returnedImage)" alt="{{ car.name }}">
      <h3>{{ car.name }}</h3>
      <p>{{ car.description }}</p>
      <p><strong>Price:</strong> {{ car.price }}</p>
      <button (click)="updateCar(car.id)">Update</button>
      <button nz-button nzType="primary" nzDanger (click)="deleteCar(car.id)">Delete</button>
    </div>
  </div>
  