<div class="no-cars-available" *ngIf="cars.length === 0">
  <p class="centered-text">No cars available</p>
</div>
<div *ngFor="let car of cars">
  <div class="car-card">
    <img [src]="getSanitizedUrl(car.returnedImage)" alt="{{ car.name }}">
    <h3>{{ car.name }}</h3>
    <p>{{ car.description }}</p>
    <p><strong>Price:</strong> {{ car.price }}</p>
  </div>
</div>

<div *ngIf="cars.length === 0">No cars available</div>
<div class="car-list" *ngIf="cars.length > 0">
  <nz-card *ngFor="let car of cars" class="car-card" nzHoverable>
      <h3>{{ car.name }}</h3>   
      <img [src]="getSanitizedUrl(car.returnedImage)" alt="{{ car.name }}">
      <p>{{ car.description }}</p>
      <p><strong>Price:</strong> {{ car.price }}</p>
  </nz-card>
</div>
