.car-statistics {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
    flex-wrap: wrap; 
  }
  
  .stat-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
  }
  
  .stat-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .stat-item p {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .total {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  