   <div class="bg" style="background-color: #F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
      <div class="parent">
        <div class="child">
          <div nz-row class="imgDiv">
            <div nz-col nzSpan="24">
              <h1 style="margin-left: 80px;">Add Car</h1>
            </div>
          </div>
          <form nz-form [formGroup]="carForm" (ngSubmit)="addCar()">
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Unesite ime auta!">
                <input nz-input placeholder="Name" formControlName="name" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Unesite marku auta!">
                <input nz-input placeholder="Brand" formControlName="brand" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Unesite tip auta!">
                <input nz-input placeholder="Type" formControlName="type" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Unesite vrstu prenosa!">
                <input nz-input placeholder="Transmission" formControlName="transmission" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Unesite boju auta!">
                <input nz-input placeholder="Color" formControlName="color" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Unesite opis auta!">
                <input nz-input placeholder="Description" formControlName="description" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Unesite cenu auta!">
                <input nz-input placeholder="Price" formControlName="price" type="number" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Unesite sliku auta!">
                <input nz-input type="file" (change)="onFileChange($event)" />
              </nz-form-control>
            </nz-form-item>
            <button nz-button class="button login-form-margin" [nzType]="'primary'" nzSize="large">Add Car</button>
          </form>
        </div>
      </div>
    </nz-spin>
  </div>
  